# -------------
# Sudoku Solver
# -------------

# -------------
# Other
# -------------
*/_init_.py
*.spec

# -------------
# Caches
# -------------
*/_pycache_

# -------------
# Images
# -------------
./images

# -------------
# Scripts
# -------------
./fastScripts
